/* This is the base BorderPane */
.root {
	-fx-background-color: #232323;
	-fx-border-color: none;
	-fx-border-radius: 10px;
}

.sidebar {
	-fx-background-color: #171717;
	-fx-spacing: 10px;
	-fx-padding: 3px;
}

.sidebarBtn {
	-fx-font-size:30px;
	-fx-color:white;
	-fx-font-family: "Arial Black", Gadget, sans-serif;
	-fx-font-size: 18px;
	-fx-text-alignment: RIGHT;


	-fx-background-radius: 15px; // Gives btns rounded corners
-fx-background-color: gray;
}

.sidebarBtn .text {
	-fx-fill: white;
}

.sidebarPane {
	-fx-background-color: transparent;
}

.sidebarBtn:hover {
	-fx-background-color: #202020;
}

.locationPane {
	-fx-background-color: #303030;
}

.titlePane {
	-fx-background-color: #101010;
}

.centerPane {
	-fx-background-color: #232323;
}
